// Import Vendors
// mrt add less-bootstrap-3
@import "../../packages/less-bootstrap-3/lib/less/bootstrap.import.less";
// mrt add less-fontawesome-4
@import "../../packages/less-fontawesome-4/lib/less/font-awesome.import.less";

.center {
    text-align: center;
}

.middle {
    text-align: center;
    margin: auto;
}

body {
    padding-top: 65px;
    padding-bottom: 50px;
    font-size: 16px;
}

h3 {
	padding-left: 30px;
	font-style: italic;
}


div.home.content {
    max-width:57rem;
    margin:auto;
}

.center-table{
  margin: 0 auto !important;
  float: none !important;
}

.topbottompad {
    margin-top:12rem;
    margin-bottom:12em;
}


table.small {
        width: 300px;
    }

table.large {
        max-width: 600px;
    }

.center {
    text-align: center;
    margin: auto;
}

.outcome.table {
    max-width: 40rem;
}


.table-row {
    margin: 1rem;
}

.table-col {
    padding: 1rem;
}

input.battle {
    width:5rem;
}