// Import Vendors
// mrt add less-bootstrap-3
@import "../../packages/less-bootstrap-3/lib/less/bootstrap.import.less";
// mrt add less-fontawesome-4
@import "../../packages/less-fontawesome-4/lib/less/font-awesome.import.less";

.centered {
    text-align: center;
}

body {
    padding-top: 65px;
    padding-bottom: 50px;
}

h3 {
	padding-left: 30px;
	font-style: italic;
}