<template name="home">

	<body>
		<header class="text-right">
			Updated: 17 March 2014
		</header>

		<h1 class="text-center">
			The Grand Game:

			Politics, Development, and War
		</h1>

		<div class="container text-center" style="padding:120px;">
			<p>J. Andrew Sinclair</p>
			<p>and</p>
			<p>The Society of St. William</p>
		</div>

		<div class="container text-center" style="padding-left:100px; padding-right:100px; padding-bottom:200px;">

			<blockquote>
				“The first thing you need in matters of this kind, as every general knows, is a thorough knowledge of the terrain.  Not know the terrain, and where are you?  Look at Napoleon and that sunken road at Waterloo.  Silly ass!” 
				<footer>Bertie Wooster</footer>
			</blockquote>
		</div>

		<div class="container">
			<h2>
				Introduction
			</h2>
			<p>
				This game reflects my longstanding objections to much of the academic literature in international relations: the models inadequately deal with differing requirements for domestic politics, struggle to reflect the complexity of relationships between many different countries, and often ignore the influence of tactical requirements on strategic considerations.  I have kicked around some of the theoretical ideas included in this game for some time; Tom and I attended an IR lecture at Caltech maybe five years ago that greatly aggravated me (“how can you have a model of international relations that contains only two countries!”) and provided some impetus to think formally about these types of problems.
			</p>
			<p>
				With this new edition, as with its predecessors, I attempt to present a model of warfare and international relations that satisfies my own theoretical objections.  Board Game Conference I, II, and III all carried forward my initial idea, translated into a game concept, with some alterations intended to increase “playability.”  While this game addresses those same ideas, I have changed many of the original fundamental building blocks.  I thought it might be helpful to explain here some of the key differences so that players with previous experience can read the rules with a broader sense of purpose.  
			</p>
			<p>
				The original game, and its subsequent variants, had a few ‘core components.’  These were, in my view:
				<ol>
					<li>A hex-based map structure</li>
					<li>A year-long strategic component and four seasonal tactical components</li>
					<li>A combat system that completely divorced the outcomes of spatial victory and the probability of unit loss (i.e. the probabilities were related but the draws were independent)</li>
					<li>Air combat tethered to the land/sea map structure</li>
					<li>A simple model of politics that involved inefficient use of resources in order to avoid periodic negative shocks</li>
					<li>Payoffs determined entirely by relative position at the end of the game</li>
				</ol>
			</p>
			<p>
				I think I had good theoretical reasons for all of these.  Nevertheless, these components combined together tended to produce a game that, if not completely unplayable, was too long, not very enjoyable to play, and mentally exhausting.  Players had to spend so much time dealing with all of the computational components that they had too little time for ‘grand strategy.’  With some very helpful suggestions from others in the Society of St. William, and some re-thinking on my part, I have developed a new set of rules.  I have altered every one of those ‘core components.’  It’s practically an entirely different game but one built on the lessons of the past.
			</p>
			<p>
				The new game abandons the hex-based map structure.  The last map was 20x20 hexes — 400 overall, with about 300 land-hexes.  A typical “large” country would have about 40 hexes in it.  New map variants will no longer be hex-based.  The territories may attach in other interesting ways – for example, a flat open plain may be modeled as just a single large territory connecting to maybe even eight other territories.  The precise map will dictate how that all works out.  The rules, though, are written with some size notions in mind: a large country will have perhaps fifteen to twenty territories.  There will still be ‘economic zones’ that group these together but the value of those zones will not depend on their number of hexes.  In effect, the “world” will be modeled at a higher level of aggregation, with about half the number of land territories as on the previous maps.  
			</p>
			<p>
				The larger map territories also allow for a change in the turn structure.  Instead of having four combat seasons, the game will now have only three.  Note that with the map-size change, units may actually move farther per year, even though they will only get three chances to move instead of four.  Additionally, the previous edition started the ‘random end’ procedure starting at turn 10, but with a guarantee of at least 13 turns.  Now the random end procedure will begin at turn 10 and have the ability to terminate the game immediately.  That is still ensuring that each game will include at least 30 combat seasons – compared to, say, 10 from a full round of Game of Thrones.
			</p>
			<p>
				Nothing generated more controversy in the previous editions than the combat system.  Essentially, it did not operate as players expected; it was difficult to compute the expected losses; and players faced a trade-off between efficiency and efficacy that did not always make sense.  While the players lose some tactical flexibility due to the reduction in the number of land spaces on the board, they regain it through the availability of new order types that reflect their intentions.  Furthermore, the probability of victory and the probability you impose losses on the enemy are now more closely related.
			</p>
			<p>
				Air combat will work completely differently than it did in earlier games.  Essentially, air power will serve as a modifier in all the territories in the “air zones” in which it is deployed.  In resolving conflict during a fighting season, first players will determine who has control of the air in which zones and then move on to resolving combats.  While this does add time to combat resolution, it should dramatically shorten the complexity of the order-writing and more seamlessly integrate economic warfare (strategic bombing) with territorial warfare.  As I think appropriate for the period (roughly, 1920-1950) modeled, air power should play a large role and players will focus on gaining ‘air supremacy’ over large areas.
			</p>
			<p>
				Players will also get more out of politics.  Players will still spend at a few different levels (10% increments of their GDP) on politics and receive outcomes at the end of the year.  Players will now draw from a deck of cards (the 10% deck, for example) and obtain their outcome.  Not all the outcomes will be bad.  Some may contain bonuses.  Others will contain restrictions, conditional rewards, and so on.  It will still be true that the more you spend the more likely you will be to obtain a good outcome.  The outcomes will vary by regime type (players will pick “dictatorship” or “democracy”) and the two types will pick from different decks.  The dictatorship deck focuses more on issues of stability and control.  The democracy deck focuses more on freedom of tactical and strategic choice.  Additionally, political spending generates “in-game cash.”  The more you spend on politics, the more in-game cash you generate each turn. 
			</p>
			<p>
				The “in-game cash” changes both the ability of players to buy-and-trade in-game objects as well as the way players collect payoffs at the end of the game.  Your payoff at the end of the game is now a function of how much in-game cash you acquired.  The last turn will generate a large payout of in-game cash based on the final position of the board, so it will still be true that players will want to end in as strong of a position as they can.  Nevertheless, actions throughout the game will contribute to the final score.  This deserves a longer theoretical explanation (rather than just a mechanical one, as I will present in the rest of the rules).  I think the in-game cash will solve two major problems with previous editions of the game. 
			</p>
			<p>
				First, the in-game cash provides a measure of whole-game performance.  I want a model where players behave as if they were previously infinitely-lived and that they will be infinitely-lived into the future.  While that is obviously not possible in a board game, I can at least try to smooth out the game-ending distortions.  Providing a real payoff for “we had a good year this year” gets part of the way towards that outcome.  With the in-game cash, a player can “turtle” and develop and… actually have a relatively successful game.  The player can also use that cash to do, in effect, ‘soft’ foreign policy.
			</p>
			<p>
				Second, the in-game cash solves the “buyout” problem.  Each country should only possess some amount of real capabilities to pay off the leaders of other nations.  In older versions of the game, a player had in essence no budget constraint: Belgium could offer enough money to the leaders of Germany, France, England, and Russia to literally buy them all simultaneously.  With transactions limited to in-game cash, players in the early game may only be able to buy very small objects (say, a handful of supplies) because they simply do not have the cash to reach the expected payoff value of any country – what they would need to buy the whole country.  Later in the game, a player may have accumulated enough cash to buy out one or even two players – but it is very unlikely that someone will have acquired enough cash to buy out the whole table by turn 6.
			</p>
			<p>
				So, as you see, most of the game has changed.  All of those ‘core concepts’ no longer apply.  I think the new game will actually be a better model of what I had in mind, though.  I don’t view these as ‘sacrifices for playability.’  The new game sounds to me like it should be more fun and a better simulation.  I hope that after you read the new rules in this document that you will be as excited to play the new game as I am.
				<footer class="text-right">J. Andrew Sinclair</footer>
				<footer class="text-right">17 March 2014</footer>
			</p>
			<h2>
				The Board
			</h2>
			<p>
				The game board in this edition contains several different types of boundaries and two terrain types: land and sea territories.  Additionally, there are some modifiers that apply to certain territories that give them special properties: cities, ports, railroads, mountains, major rivers, shoreline, and canals.  Sea territories are relatively large compared to land territories and also have slightly different properties as well.
			</p>
			<p>
				These are the boundary types:
				<ul>
					<li>Air Zones: this is the level of aggregation at which air combat takes place.</li>
					<li>Economic Zones: these are collections of land (plain and mountain) territories; economic development takes place at the zone level rather than at the territory level.</li>
					<li>National Borders: these define the areas possessed by each nation at the beginning of the game and may cut across air and economic zones.</li>
				</ul>
			</p>
			<p>
				The game board will be divided up into some number of countries (generally about twelve, although there may be other map variants used).  Half of these will be “large” countries that contain something on the order of 12-18 land territories.  The other half will be “small” countries that have between 5-8 land territories.  For the sake of playability, depending on the number of participants, some of the small countries may be joined together before the country selection process begins.  Not all countries need to be claimed for the game to operate; these rules contain extensive provisions for neutral countries.
			</p>
			<p>
				While the exact details will vary by country and by map, generally each economic zone will contain 4-6 land territories.  Players either have “full”, “partial,” or “no” control over an economic zone.  To have full control, a player must possess all of the land territories in that zone.  To have partial control, the player must possess at least 51% of the land territories.  Not all zones will necessarily be controlled by a player at all times; furthermore, players typically will begin with partial control over some zones rather than full control.
			</p>
			<p>
				Air zones have their own borders and may include both sea and land territories.  These represent areas in which the players may contend for air control.  Air control works very differently in this version of the game than in the previous variants.  The player with air supremacy may then apply a modifier to every (land and sea) territory in that air zone. 
			</p>
			<p>
				These are the territory modifiers:
				<ul>
					<li>Cities:  These are your production centers; they produce land units, air units, and supplies.  Additionally, territories with cities get a defensive bonus (for a list of bonuses, see the combat section).</li>
					<li>Ports:  Ports are just cities that can also build ships.  They too have a defensive bonus.</li>
					<li>Railroads:  Railroads allow you to move units more quickly around the map.  Railroads are owned by the player owning the land territory.  For operational details, see the section on military orders and movement.</li>
					<li>Mountains:  Mountains provide a defensive bonus (see the bonus list in the combat section).</li>
					<li>Rivers:  Rivers provide a directional defensive bonus that applies against an army attacking over the river.</li>
					<li>Shoreline: Shoreline provides a directional defensive bonus against a landing army.</li>
					<li>Canals:  Canals provide the river directional defensive bonus and act as a “ship railroad.”  As long as a player possesses (or obtains permission from the owner of) the canal, the player may pass ships through it from one sea territory to another.</li>
				</ul>
			</p>
			<p>
				The territory modifiers work together and generate what I view as the appropriate ‘defense-offense’ balance.  The attacker has the advantage of choosing the place and concentrating their forces; the defense gains advantages from the terrain, short supply lines, and interior supply lines.  Each of these types of terrain modifiers will be discussed more extensively in the section of the rules which their modifications affect.
			</p>
			<h2>
				The Turn
			</h2>
			<p>
				Each turn consists of three phases: allocation, combat, and reconciliation.  During the allocation phase, players place orders for how to use their GDP.  The combat phase involves moving units in each of the three seasons: spring, fall, and winter.  In the reconciliation phase players obtain political outcomes, receive production ordered during the allocation phase, and may buy or sell objects using the “in-game cash.”
			</p>
			<h3>
				Allocation
			</h3>
			<p>
				In the allocation phase, players take their total GDP and use it to purchase several different types of goods.  You may not “roll-over” GDP into the future: productive capacity not used is lost.  Additionally, you may not buy, sell, or trade GDP.  Here is the list of all the types of items players may purchase with their GDP:
				<ul>
					<li>Politics.  This is done in four increments: 0%, 10%, 20%, 30% of GDP.  Your political spending will also affect your income in Francs.  See the detailed section on politics and in-game cash later in the rulebook.  You do not need to specify a place with this purchase; it occurs entirely off-board.</li>
					<li>GDP development.  You must assign this to particular economic zones.  As you buy more, it becomes more expensive.</li>
					<li>Atomic research.  At the end of the game, you will have a probability of developing the bomb based on the share of the world’s atomic research you possess.  Atomic research gets more expensive as the game progresses.  You do not need to specify a particular place to produce the atomic research.</li>
					<li>Military Units and Supplies.  You may purchase: aircraft, infantry, armor, light fleets, heavy fleets, and supplies.  All of these must be assigned to a city or port for production.  Prices and capabilities will be listed elsewhere.</li>
				</ul>
			</p>
			<p>
				Each player prepares their allocation simultaneously.  Allocations are private knowledge until the reconciliation phase, at which point all aspects of the allocation are revealed.  The allocation phase will take place with a strict time limit; all players must complete their allocation within that amount of time and submit it via whatever process the players have agreed to in advance.
			</p>
			<h3>
				Combat
			</h3>
			<p>
				Each combat season – Spring, Fall, Winter – has its own simultaneously executed parts.  Players write orders, submit them before a time limit, and then some player will read and execute the orders.  Within order resolution, air combat takes place first, sea combat next, ground combat last, and then any further air casualties are removed.  Players will typically have a short period of time (perhaps seven or eight minutes) to write their orders.  After the three combat seasons are complete, the reconciliation phase begins.
			</p>
			<h3>
				Reconciliation
			</h3>
			<p>
				The reconciliation phase does not include any strategic elements.  Players first draw their political fate from the politics card decks.  Next they place the units and supplies that they ordered, update their GDP, and record their atomic research.  Last, players may buy and sell objects using their available budget in Francs.
			</p>
			<h2>
				Combat
			</h2>
			<p>
				The game uses a mixed combat system: while it has random components, the outcomes are not wholly random.  It is possible, for example, for one force of very great size to defeat a force of very small size with complete certainty.  Nevertheless, the ‘random’ components will still be quite meaningful, both for the casualties taken by each side and the ultimate control of land territories.  Territorial control and casualties are computed separately.  These next paragraphs describe the system in general; subsequently, I will note the (many) special rules.
			</p>
			<p>
				Units have “combat values” (infantry and armor have different values for attack and defense, as well).  In a combat, each player sums up the combat value of their participating units to generate their base value (e.g., “I have a value of 11.”).  The basic principle is if I have a higher total value than you do (e.g., “11>6”) then I win control over the territory.  Ties go to the defender.  The non-random component of combat comes from these “base values.”  If my force is worth more than yours, I have a higher base value, and an advantage in combat.
			</p>
			<p>
				The random component builds on top of the base value through “combat cards;” the combat cards also determine casualties.  When you draw a combat card, you will see three parts: (1) a number between 0 and 3 that will be added to your base combat value and (2) numbered rows indicating the number of types of casualties you inflict on your enemy and (3) a flak indicator for whether the combat destroyed any of your enemy’s aircraft in the covering air zone.
			</p>
			<table class="table center-table" style="width:300px;">
				<thead>
					<tr>
						<th>LAND EXAMPLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Combat Value</td>
						<td>+2</td>
					</tr>
					<tr>
						<td>Casualty</td>
						<td>
							<p>Armor, Infantry</p>
							<p>Armor, Infantry</p>
							<p>Infantry, Armor</p>
						</td>
					</tr>
					<tr>
						<td>Flak</td>
						<td>0 hits</td>
					</tr>
				</tbody>
			</table>
			<p style="padding-top:20px;">
				The casualty component of the card gives you both the number and the order in which casualties are withdrawn from the game.  In this case, the combat card says to remove two armor and one infantry first.  If there are not two armor units to remove, infantry units replace them on the casualty list.  If there is not an infantry unit, an armor unit replaces it.  The casualties on your cards indicate the casualties you inflict on your enemy, not the casualties you take.
			</p>
			<p>
				The combat value, casualties, and flak hits vary by card. These vary independently to some extent; you could have a card with a combat value of +0 and six casualties listed (or any other combination).  I intend the expected value for combat values to be around 1.5, the expected number of casualties to be about 2, and the expected flak hits to be around 0.125 (=1/8).
			</p>
			<p>
				At a minimum, a player will always draw one combat card.  For every five points of base value you possess over 5, you draw one combat card (NB: there are some modifications to this; see the section on orders).  So, by reaching a base value of 10, a player will draw two cards, at a base value of 15 a player draws three cards, and so on.  Players sum their base value with the combat card value to get their total value; it is the total value that determines the control over the territory.  Casualties only come from the cards (but are also additive: you apply all the casualties from all the cards, unless some special rule says otherwise).
			</p>
			<p>
				This describes the general combat mechanic.  There are special rules for both air-to-air and sea combat.  Furthermore, air combat adds to ground combat at the zone level; the section on air power will discuss this more in detail.  Additionally, even ground combat has three major areas of adjustment to these rules.  (1): the types of orders issued affect how ground combat operates.  (2): supply affects individual unit value.  (3): terrain bonuses also affect base value.  Lastly, there are special rules for multi-way combat.  The subsequent sections will deal with all of these modifications.
			</p>
			<h3>
				Air Combat
			</h3>
<!-- 		Sam's proposed rules for Air Combat
			<p> 
				Air combat takes place in "air zones". An air zone is defined as any space within 2 land spaces or 1 sea space (excluding the space the aircraft currently occupies) of the aircraft. 

				An aircraft may provide air support to more than one territory at the same time. 

				When writing orders, the general must specify whether or not a territory will receive air support for the following turn. He may choose not to use his air support.

				When using air support, the general is exposing his planes to enemy fighters. If both sides of a battle have air support, air combat must be resolved before combat takes place. 

				Air combat is resolved with the same casualty calculator as ground and sea combat. 

				After air combat is resolved, the appropriate bonuses are given to each side. For every 1 plane advantage, the side with air superiority receives +1 combat strength for every unit in his attacking/defending army.

				Air superiority will not affect casualties, but will significantly affect the odds of victory. 
			</p> -->
			<p>
				Air combat takes place in “air zones” as players compete for “air superiority.”  Air units do start and end the combat phase in a physical location – in a land or sea territory.  During the turn, they are assigned to the air zone covering that territory or to an adjacent air zone.  At the beginning of the combat phase, you must also list a landing place relative to the zone in which the aircraft fights: again, either that zone or an adjacent one.  Take an aircraft based somewhere in air zone A, below.  It may be assigned to A and land in A.  It can be assigned to B and land in A.  It can be assigned to B and land in air zone C.
			</p>
			<p>
				You must specify a landing order for each aircraft assigned to a combat zone.  In the example above, imagine you start with two aircraft in A and assign them both to B.  If you want one to land in A and the other to land in C, you must specify which of those outcomes is a priority, in case one of the aircraft is destroyed.
			</p>
			<table class="table center-table" style="width:300px;">
				<thead>
					<tr>
						<th>Proper Aircraft Movement Order</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Step 1:  2 Aircraft from A assigned to B</td>
					</tr>
					<tr>
						<td>Step 2:  1 lands in A in territory 34</td>
					</tr>
					<tr>
						<td>Step 3:  1 lands in B in territory 72</td>
					</tr>
				</tbody>
			</table>
			<p style="padding-top:20px;">
				If the player no longer possesses the landing place, the aircraft is also destroyed.  Note that you may also just leave an aircraft in a physical territory (land or sea) as a non-participant.  To make this clear, you must issue a specific order for this.   
			</p>
			<p>
				Unlike other units in the game, aircraft do not use supply.  They all fight at the lowest combat value (=1).  In each air zone, at the start of a combat phase, opposing aircraft fight each other.  Each aircraft draws an ‘air combat card’ that lists a number of casualties it inflicts on the enemy’s air power (range: 0, 1, or 2).  Then count the remaining aircraft.  The player with more aircraft has “air superiority” with a count equal to their excess aircraft.  In the event of a tie, neither side has air superiority nor gets the advantages of air power.
			</p>
			<p>
				Players must decide what to do with their air superiority ex-ante.  During the orders phase, they must issue orders for each air zone of aircraft that apply throughout that zone.  You may assign your air superiority to two tasks and may split it between the two: (1) strategic bombing (2) tactical air power.  In the event that an air zone covers more than one economic zone, you must specify which economic zone you intend each point of air superiority to bomb.  For tactical air power, you need only specify a place if you intend air power alone to attack a sea territory.  Tactical air power may only attack land territories in conjunction with land units.  Nevertheless, tactical air power also applies to every land territory within the air zone.  A player with +2 air superiority from two aircraft then obtains +2 to their base value in every combat fought in that zone. 
			</p>
			<p>
				For strategic bombing, a player simply rolls a d6 for each point of air superiority.  A roll of a 4 inflicts 1 point of damage; a roll of a 5 inflicts 2 points of damage; and a roll of a 6 inflicts 3 points of damage.  So, a player +3 with aircraft could potentially roll 3d6 and, if fortunate, inflict 9 points of economic damage.  Note, though, that a player must have air superiority for strategic bombing to take place.  Even if some aircraft dispatched to do strategic bombing survive, if the player does not have air superiority they are not permitted to bomb.  The theory here is that the only valuable strategic bombing came with near-complete control over the air for an extended period of time.
			</p>
			<p>
				Tactical air power comes with some very strong advantages.  If combat takes place in several territories, each aircraft gets to shoot, in effect, multiple times.  Tactical air power adds to the base combat value; this means tactical air superiority can put a player over the next card-drawing threshold.  To reflect tactical air power’s ability to influence successful unit resupply, a player with air superiority removes one supply from each land territory in which combat takes place.  Furthermore, some orders types (discussed further below) interact with air superiority.
			</p>
			<p>
				There are some differences between tactical air power at sea and on land.  On land, aircraft may only participate in land combat that is already otherwise occurring.  Aircraft cannot conquer territory, destroy land units on their own, or successfully defend territory on their own.  At sea, tactical aircraft may conduct their own searches and fight on their own --- even if they are also adding to other combats in that air zone.  Players must just make it clear that this is their intention.  At sea, tactical air power also has no effect on supply.
			</p>
			<p>
				Lastly: a note about air casualties.  If a player controls a full economic zone within that air zone, air casualties taken at any point during the combat phase (either during the initial air combat, or from flak in the subsequent engagement) are set aside.  Those may be reconstructed at a discount at the end of the turn.  This accounts for pilots bailed-out over friendly territory, whose training makes up a large part of the cost of producing air units. 
			</p>
			<h3>
				Sea Combat
			</h3>
			<p>
				Sea combat, unlike land combat, does not involve “control” of sea territories.  The fleets of two opposing nations may end the season occupying the same sea territory.  You remove enemy ships by destroying them.  To destroy them, though, first you must find them.  Combat at sea takes place with two components: searching and inflicting casualties.  First players search to see if their fleets find each other.  Then they draw sea combat cards based on the combat value of their units, their air superiority, and their orders. 
			</p>
			<p>
				To search: a whole fleet roles a d6 searching for a 4 or less.  In the ‘winter’ season, search is less effective: players roll on a 3 or less.  The player with air superiority (of any amount) gets a +1 to search (rolls at a 5 generally and a 4 in winter).  Combat takes place if one fleet finds the other.  If neither fleet searches successfully, no sea combat takes place.
			</p>
			<p>
				Sea combat cards contain similar information as land combat cards.  At sea, though, players have three potential types of casualties: loaded light fleets, unloaded light fleets, and heavy fleets.  A “loaded” light fleet is carrying land units or supplies across a sea territory.  Light fleets can carry up to two land units and six supplies.  Heavy fleets can base up to one aircraft each and also have a six-supply capacity.  Aircraft are only lost when heavy fleets sink if, at the conclusion of the season, they have no place to land.  Fleet units all have a combat value (see the table of combat values and prices).  Unsupplied units fight at a value of 1 point.  Every fleet unit engaged in an action uses 1 supply unless modified otherwise.   
			</p>
			<p>
				Sea combat cards do not contain point modifiers for territory control: they only contain casualty lists and flak hits.  Unlike on land, a player may order their air superiority to fight alone at sea – to search and to draw cards independently of sea units.  Just as on land, players draw one card for every 5 points of base value (unless modified by a special order).  Players draw a minimum of one card.  Generally speaking every card should generate roughly an average of one hit and about 0.125 flak hits.  Aircraft hits are merely tallied at this point, since those aircraft may fight in multiple sea or land territories.  Once air combat determines air supremacy, that modifier lasts throughout the season.
			</p>
			<table class="table center-table" style="width:400px;">
				<thead>
					<tr>
						<th>SEA EXAMPLE</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Casualty</td>
						<td>
							<p>Light Fleet, Heavy Fleet, Loaded LF</p>
							<p>Light Fleet, Heavy Fleet, Loaded LF</p>
						</td>
					</tr>
					<tr>
						<td>Flak</td>
						<td>1 hit</td>
					</tr>
				</tbody>
			</table>
			<p style="padding-top:20px;">
				Combat at sea also includes orders.  Rather than just issuing “move” orders to ships, players choose between these three orders:
			</p>
			<ul>
				<li><em>Hide:</em> The fleet does not search.  Regardless of what your opponent’s combat cards say, loaded Light Fleets are taken as casualties only if there are no other available casualties.  Your units use no more than one supply per enemy unit you destroy, up to a total of one supply for each of your units involved.  Additionally, draw only one combat card for every seven base points rather than every five. </li>
				<li><em>Patrol:</em> no modifications to the combat mechanic.</li>
				<li><em>Engage:</em> Fleet commits to the engagement at all hazards.  If one player selects engage, and one side successfully searches, every heavy fleet on both sides draws one extra sea combat card.</li>
			</ul>
			<p>
				In addition, of course, players must specify where their ship units move.
			</p>
			<p>
				Sea units may move one sea territory per season.  A correct order either will list which units stay in place (with a command for that territory) or a pair (where from, where to) of territories that fully describe the movement.  The only complicated part of sea movement involves ports.  Ships are built in ports – land territories that may house friendly sea units.  Sailing out of a port costs one unit of movement, as does sailing in to a port.  There are some special rules for combat in ports, though.
			</p>
			<p>
				A player may attack into a hostile port with sea units but may not conquer it.  At the conclusion of the combat, the attacking units are returned to the adjacent sea zone and coexist with whatever may be there.  Combat in a port automatically triggers ‘engage’ for both sides; for the defender, though, each light fleet also draws an additional card.  Furthermore, the port itself draws a card.  Thus, attacking into ports is a costly and inadvisable business (unless some alternative special rule intervenes).
			</p>
			<p>
				Sea combat does contain an economic component.  While sea territories yield no economic value, and are not possessed by any individual player, nations can be expected to guard their own coastline to prevent an effective blockade of their trading centers.  A player wishing to do economic damage to an opponent’s seaside economic zone must indicate a willingness to do so by: ordering a unit to a sea territory adjacent to the land territory with a special order modification (“attack shipping”).  If the unit survives that combat phase, a token is placed in that territory to indicate successful interdiction for one turn.  The attacker must successfully put another unit in that sea territory with an “attack shipping” order in the subsequent combat phase (note: this may span turns) to complete the damage.  The token is then removed from the board and the adjacent economic zone (if multiple, the target must have been specified in advance; you only get one) takes 1 point of damage.
			</p>
			<h3>
				Land Combat
			</h3>
			<p>
				Land combat uses the general combat system described earlier.  Each side computes its base power, adds any air supremacy, draws combat cards, and then computes control and casualties.  This section describes the modifiers: the way terrain affects base combat value, land movement and railroads, loading and unloading transports, and the available orders.
			</p>
			<p>
				There are really two types of terrain modifiers: ones that add points to the defensive base combat value and ones that restrict the number of cards an attacker may draw.  Cities, Ports, and Mountains all add +1 to each defending land unit’s base combat value.  Additionally the winter season adds a +1 to each defender.  Rivers, Canals, and Shoreline work differently.  An attacker has to count their base combat value separately for how many combat cards he draws; the part of his force attacking over the obstacle draws combat cards at a different rate (per 10pts over rivers; per 12 points over canals; and per 15 points across shoreline).  For example, an attacker with 15 points attacking from an adjacent land territory and an additional 15 points landing from ships would have a total base value of 30 and draw 3 cards from the land component and only 1 card from the seaward component.
			</p>
			<p>
				Railroads modify movement range rather than combat value.  Land units typically may move one land territory per turn.  However, a unit which starts on a railroad territory (or a city or port with a railroad attached) may move any number of spaces along the railway and end at any point along that railway – so long as the player either controls all of those railroad territories or obtains written permission on the other person’s order sheet to use them.  This may be best explained through an example:
			</p>
			<p>
				 imagine a string of territories: A, B, C, D, and E
			</p>
			<p>
				The railroad runs from B through C to D.  What can move where and when?
			</p>
			<p>
				If a unit starts in B, and the player controls C and D, the player may simply order the unit to move from B to D.  Railroad orders occur ‘before’ other movement, so if some other player attempts to cut the rail line at space C the units on this turn still make it to D.  However, if the unit starts at A instead, it must first move to B during one combat season before using the railroad.  Furthermore, if an enemy were to occupy D and refuse permission for the rail movement, a unit that starts at B could go no further than C.  Additionally, a unit at B taking the railway must end at D and take another combat season to get to E.  In sum: (1) rail movements happen before other movements when resolving orders; (2) to use a railway you must start on it; (3) if you use the railway, you must end on it; (4) if some other player occupies part of your path you must obtain written permission to use “their” railway.
			</p>
			<p>
				Railway permissions require some additional rules to prevent abuse.  A player may write any type of permission (e.g., “Jeff may use my railways” or “Jeff may move three infantry across this specific set of railways.”).  However, the rail permissions must accommodate the rail order as a whole; if the permission does not grant the full order, none of the order is executed and the units travel as far along the railroad as possible.  For example, if I give Jeff permission to cross my territory with 3 units and Jeff issues an order for 4 units, all 4 units stop at the last territory on the railway that Jeff controls.  If Jeff only orders 2 units, both pass because my order will accommodate them.  Note that the permission only applies to movement and not to order type.  So, for example, if you consent to it, I can order an entire army to your main city – and order them to attack.
			</p>
			<p>
				Railroads generate one other issue: “planes on trains.”  Aircraft typically get around the map my moving to an air zone, contending for air superiority, and then moving on to a landing place.  This gives them a relatively large operational radius.  Nevertheless, their “landing” place is a physical land or sea territory.  Aircraft which start on a land territory that contains a railroad may be transported by railroad to another land territory as with any other land unit.  However, when they arrive at their destination, they may not fight.  So you can pack them in crates and dispatch them by rail around the map.  This is a bit out of sync with the rule that prohibits you from putting them in light fleets; what distinguishes these rules, though, is the multi-season nature of sea combat and the instantaneous, single-season nature of land combat.  It is just too difficult to deal with the at-sea accounting.
			</p>
			<p>
				Land units and supplies may move by ship, though.  Units may load and unload from any territory adjacent to a sea territory.  If crossing territorial borders, loading and unloading takes one full season for the units and the ships.  That means the ship must already be in the sea territory and the land unit already adjacent to that zone for the loading to take place; unloading takes a unit’s full movement and must be done by a ship already next to the shore.  The exception here is loading and unloading in ports; this happens ‘for free’: you may load a unit in a port and then dispatch the ship to sea on the same season or sail into a port and unload a unit on the same turn.
			</p>
			<p>
				In addition to all of these other considerations, land units have the most order choices, split into defensive and offensive order types.  A player counts as the defender if he owns the territory or is on the territory at the permission of its owner (per existing written orders to that effect).  These are the orders:
			</p>
			<p>
				<strong>Defensive</strong>
			</p>
			<ul>
				<li>Screen:  You draw one combat card for every ten base points (with a minimum of one).  You only spend supply equal to the number of enemy units you destroy.  You also always lose infantry units before armor units and may specify a land territory as the retreat destination for both units and remaining supplies.  </li>
				<li>Defend: Regular rules.  You may designate a land territory as the retreat destination for units but not supplies.  </li>
				<li>Hold:  You draw one combat card for every three base points.  No units or supplies may retreat; if you lose the territory, you lose everything.  </li>		
			</ul>
			<p>
				<strong>Offensive</strong>
			</p>
			<ul>
				<li>Scout: You draw one combat card for every ten base points (with a minimum of one).  You spend supply equal to the number of enemy units you destroy.  If you are unsuccessful in conquering the territory, your remaining supply retreats with your units (you must have specified a retreat territory in advance).  </li>
				<li>Advance: Regular rules.  You may designate a land territory as a retreat destination – but if you do not conquer the territory, you lose any supply sent to that space beyond what you used in combat.  Each unit consumes one supply in combat.  </li>
				<li>Blitzkrieg:  If you have air superiority, you draw one additional combat card for every armor and air-superiority-point pair you have in the territory.  For example, if you have +3 air superiority and three armor units, you would draw three additional cards.  If you do not have air superiority, the defender draws an extra card for every point of air superiority they possess.  Blitzkrieg requires the payment of one additional supply per unit to count them as fully supplied.     </li>
			</ul>
			<p>
				As mentioned earlier, land combat takes place with two components: a total score that determines control and the casualties printed on the combat cards.  The casualties are not completely divorced from the control issue, though.  To conquer a territory, you must have some land unit (infantry or armor, not aircraft or supply) left to use to occupy it.  To successfully defend a territory, if your opponent has any remaining units, you must have at least one surviving defender (infantry or armor, not aircraft or supply).  In the event both sides are entirely destroyed, the defender retains control of the territory.
			</p>
			<h3>
				Multi-Way Combat
			</h3>
			<p>
				It may come to pass that units from multiple countries fight in an uncoordinated fashion for control of a sea or land territory.  This requires a few adjustments to the rules.  Each player “fights” each other player in a pairwise combat at full strength.  Losses are removed from each individual paired combat (so, for example, if in two separate combats I am to lose 1 unit and 2 units, I lose in total 3 units).  For land combat, the country with surviving units and with the highest total value occupies the territory.
			</p>
			<h3>
				Base Combat Value and Cost
			</h3>
			<table class="table center-table" style="width:300px;">
				<thead>
					<tr>
						<th>Proper Aircraft Movement Order</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Step 1:  2 Aircraft from A assigned to B</td>
					</tr>
					<tr>
						<td>Step 2:  1 lands in A in territory 34</td>
					</tr>
					<tr>
						<td>Step 3:  1 lands in B in territory 72</td>
					</tr>
				</tbody>
			</table>
			<p style="padding-top:20px;">

			</p>




		</div>








	</body>

</template>